@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:wght@100&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}
.precios{
    font-size: 30px;
    margin-left: 40px;
    font-weight: bold;
}
#totalCarrito{
    text-align: end;
    font-size: 30px;
    margin-right: 50px;
    font-weight: bold;
} 